{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"semi": true,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["*.json", "*.md", "*.mdx"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
